---
import AppWrapper from '@/components/AppWrapper.astro';
import CategoryWinners from '@/components/Gallery/CategoryWinners.astro';
import { Navbar } from '@/components/Navbar/Navbar';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
---

<AppWrapper title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Navbar client:load />
  <div class="min-h-screen w-full bg-slate-900 relative overflow-hidden">
    <CategoryWinners />
  </div>
</AppWrapper>
