---
import AppWrapper from '@/components/AppWrapper.astro';
import { Navbar } from '@/components/Navbar/Navbar';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
---

<AppWrapper title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Navbar client:load />
  <div class="h-screen w-full bg-red-500">content test</div>
</AppWrapper>
