---
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import { App } from '../../react/App';

// dynamic route to serve the react app
export const prerender = false; 
const {PUBLIC_CLERK_PUBLISHABLE_KEY} = Astro.locals.runtime.env
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		this is captured by astro it's user/*
		    <App client:only="react" clerkPublicKey={PUBLIC_CLERK_PUBLISHABLE_KEY} />
		</main>
		<Footer />
	</body>
</html>
