---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { App } from '../react/App';
import BaseHead from './BaseHead.astro';
import Footer from './Footer.astro';
import Header from './Header.astro';

// dynamic route to serve the react app
const { PUBLIC_CLERK_PUBLISHABLE_KEY } = Astro.locals.runtime.env;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="min-h-screen bg-base-100 text-base-content">
    <Header />
    <App client:only="react" clerkPublicKey={PUBLIC_CLERK_PUBLISHABLE_KEY} />
    <Footer />
  </body>
</html>
