---
import { Picture } from 'astro:assets';

type Props = {
  imageUrl: string;
  showInfo?: boolean;
  title: string;
  author: string;
};

const { imageUrl, title, author, showInfo = true }: Props = Astro.props;
---

<div class="bg-gray-950 overflow-hidden shadow-lg">
  <Picture
    width={1000}
    height={1000}
    class="w-full object-cover"
    src={imageUrl}
    alt={title}
    loading="lazy"
  />
  {
    showInfo && (
      <div class="px-6 py-2 items-center justify-center">
        <p class="text-gray-400 text-center font-light">{author}</p>
      </div>
    )
  }
</div>
