---
import BaseImage from './BaseImage.astro';

type Props = {
  runnerUps: {
    result: string;
    imageUrl: string;
    title: string;
    displayName: string;
    categoryName: string;
  }[];
};

const { runnerUps }: Props = Astro.props;
---

<div class="space-y-8">
  <h2 class="text-3xl font-light text-gray-100 uppercase text-center">
    Runner Ups
  </h2>
  <div class="columns-1 md:columns-2 gap-8 space-y-8">
    {
      runnerUps.map(runnerUp => (
        <div class="break-inside-avoid mb-8">
          <BaseImage
            imageUrl={runnerUp.imageUrl}
            title={runnerUp.title}
            displayName={runnerUp.displayName}
          />
        </div>
      ))
    }
  </div>
</div>
